.landing {
  height: 90vh;
  position: relative;
  /* background: rgb(34, 38, 43);
  background: linear-gradient(
    335.5deg,
    rgba(34, 38, 43, 1) 0%,
    rgba(34, 38, 43, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ); */
}
