.landing {
  font-family: "Fira Code", monospace;
  height: 90vh;
  position: relative;
  background-color: rgb(238, 236, 236);
  text-align: center;
  position: relative;
  justify-items: center;
  padding-top: 10%;
}

.landing__purpleText {
  color: #5240fe;
}

h1 {
  font-size: 40px;
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

hr {
  width: 35%;
  height: 2px;
  background-color: #5240fe;
  border: none;
  margin: 20px auto;
  animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

@media only screen and (max-width: 768px) {
  .landing {
    padding-top: 13%;
  }

  hr {
    transition: all 1s ease-out;
    width: 80%;
  }

  @keyframes fadeInAnimation {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
}
