.header {
  font-family: "Fira Code", monospace;
  height: 7.5%;
  background-color: #22262b;
  background: linear-gradient(
    90deg,
    rgba(18, 19, 20, 1) 0%,
    rgba(34, 38, 43, 1) 59%,
    rgba(49, 54, 59, 1) 100%
  );
  color: #fff;
  display: grid;
  grid-template-areas: "logo nav";
}

.header__nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
}

.header__logo {
  padding-left: 15px;
  padding-top: 10px;
}
