.header {
  font-family: "Fira Code", monospace;
  height: 7.5%;
  background-color: #22262b;
  color: #fff;
  display: grid;
  grid-template-areas: "logo nav";
}

.header__nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  justify-items: center;
}

.header__logo {
  padding-left: 15px;
  padding-top: 10px;
}
