/* FONTS */
/* body {
  font-family: 'Oswald', sans-serif;
  font-family: 'Fira Code', monospace;
  font-family: 'Roboto', sans-serif;
} */

h2 {
  color: #5240fe;
  font-family: "Fira Code", monospace;
  text-decoration: underline;
  font-size: 60px;
}
